<form [formGroup]="checklistForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
    <div class="flex flex-col gap-2">
        <label for="mileage" class="text-sm font-semibold">Kilométrage</label>
        <p-input-number formControlName="mileage" class="w-full" inputStyleClass="w-full"></p-input-number>
    </div>
    <div class="flex flex-col gap-2">
    <!-- Continuer la checklist -->
    </div>
    <div class="lg:col-span-2 grid grid-cols-1 md:grid-cols-2 gap-x-6 mt-4">
        <div class="w-full">
            <p-button
                label="Annuler"
                icon="pi pi-times-circle"
                variant="outlined"
                [rounded]="true"
                size="small"
                styleClass="w-full"
                (onClick)="onCancel()">
            </p-button>
        </div>
        <div class="w-full">
            <p-button
                label="Valider"
                icon="pi pi-check"
                [rounded]="true"
                [raised]="true"
                size="small"
                styleClass="w-full"
                type="submit">
            </p-button>
        </div>
    </div>
</form>
