<div class="rounded-2xl overflow-hidden shadow-glow text-sm font-light">
    <p-table [value]="userService.users()" [rowHover]="true" dataKey="id" editMode="row" [size]="'small'" [resizableColumns]="true">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="firstname" style="width:15%">
                    <div class="flex items-center gap-2">
                        Prénom
                        <p-sortIcon field="firstname" />
                    </div>
                </th>
                <th pSortableColumn="lastname" style="width:15%">
                    <div class="flex items-center gap-2">
                        Nom
                        <p-sortIcon field="lastname" />
                    </div>
                </th>
                <th pSortableColumn="email" style="width:25%">
                    <div class="flex items-center gap-2">
                        Email
                        <p-sortIcon field="email" />
                    </div>
                </th>
                <th style="width:15%">
                    <div class="flex items-center gap-2">
                        Téléphone
                    </div>
                </th>
                <th pSortableColumn="address.city" style="width:10%">
                    <div class="flex items-center gap-2">
                        Ville
                        <p-sortIcon field="address.city" />
                    </div>
                </th>
                <th pSortableColumn="user.role" style="width:20%">
                    <div class="flex items-center gap-2">
                        Rôle
                        <p-sortIcon field="user.role" />
                    </div>
                </th>
                <th pSortableColumn="status" style="width:20%">
                    <div class="flex items-center gap-2">
                        Statut
                        <p-sortIcon field="status" />
                    </div>
                </th>
                <th style="width:15%" class="text-center">Action</th>
            </tr>
        </ng-template>
        <ng-template #body let-user let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="user">
                <td>
                    <p-cellEditor>
                        <ng-template #input>
                            <input pSize="small" pInputText type="text" [(ngModel)]="user.firstname" class="w-full" />
                        </ng-template>
                        <ng-template #output>
                            {{user.firstname}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template #input>
                            <input pSize="small" pInputText type="text" [(ngModel)]="user.lastname" class="w-full" />
                        </ng-template>
                        <ng-template #output>
                            {{user.lastname}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template #input>
                            <input pSize="small" pInputText type="text" [(ngModel)]="user.email" class="w-full" />
                        </ng-template>
                        <ng-template #output>
                            {{user.email}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template #input>
                            <input pSize="small" pInputText type="text" [(ngModel)]="user.phone" class="w-full" />
                        </ng-template>
                        <ng-template #output>
                            {{user.phone}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    {{user.address?.city}}
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-select
                                [options]="rolesOptions"
                                [(ngModel)]="user.role"
                                size="small"
                                appendTo="body"
                                optionLabel="label"
                                optionValue="value"
                                class="w-full">
                            </p-select>
                        </ng-template>
                        <ng-template #output>
                            {{ user.role | roleLabel }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-tag class="backdrop-blur-md border border-white/10 shadow-sm" [rounded]="false" [value]="user.enabled ? 'Actif' : 'Inactif'" [severity]="user.enabled ? 'success' : 'danger'"></p-tag>
                </td>
                <td>
                    <div class="flex items-center justify-center space-x-1">
                        @if (!editing) {
                            <p-button size="small" pInitEditableRow icon="pi pi-user-edit" [rounded]="true" [text]="true" [raised]="true" severity="warn" (click)="onRowEditInit(user)" />
                        }
                        @if (!editing) {
                            <p-button size="small" icon="pi pi-eye" [rounded]="true" [text]="true" [raised]="true" severity="warn" />
                        }
                        @if (!editing) {
                            <p-button size="small" icon="pi pi-trash" [rounded]="true" [text]="true" [raised]="true" severity="warn" (click)="onDelete(user.id)" />
                        }
                        @if (editing) {
                            <p-button size="small" pSaveEditableRow icon="pi pi-check" [rounded]="true" [text]="true" [raised]="true" severity="warn" (click)="onRowEditSave(user)" />
                        }
                        @if (editing) {
                            <p-button size="small" pCancelEditableRow icon="pi pi-times" [rounded]="true" [text]="true" [raised]="true" severity="warn" (click)="onRowEditCancel(user, ri)" />
                        }
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="m-2">
    <span class="text-xs opacity-70 m-0 mt-1 pl-1">Au total, il y a {{ userService.users() ? userService.users().length : 0 }} utilisateurs.</span>
</div>
